{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Bienvenue sur la Page Utilisateur</h1>
        <p>Non mollit ipsum esse ipsum nisi. Velit mollit ut adipisicing dolore excepteur. Enim ad aute aute aliquip deserunt veniam ipsum ipsum irure veniam commodo qui.</p>
    </div>
{% endblock %}
