{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="mt-5">Bienvenue sur la Page d'acceuil</h1>
        <p>Reprehenderit ipsum do officia non ut ipsum eu irure esse. Proident ad voluptate ullamco aliqua reprehenderit. Enim aliquip excepteur elit ad magna sunt aute laboris ea consequat proident. Cupidatat aliqua cillum mollit et est est enim officia quis irure. Mollit sint sunt laboris officia officia. Aute elit esse sunt occaecat nostrud laborum officia eiusmod eu cupidatat. Amet pariatur esse elit sunt.</p>
    </div>

  {% endblock %}
