{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Bienvenue sur la Page Admin</h1>
        <p>Et nulla sint aliqua laborum incididunt consectetur adipisicing exercitation est in incididunt irure sint officia.</p>
    </div>
{% endblock %}
